body {
  background-color: grey;
}
.logo {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
#submit{
  border-radius: 100px;
  outline: transparent;
  background-color: white;
  box-shadow: transparent;

}
#inputan{
  border-radius: 100px;
  outline: transparent;
}
#equation{
  color: white;
}