body {
  background-color: grey;
}
.logo {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.loner {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
